/**
 * Laravel-UIKit
 *
 * Author: Sowren Sen (sowrensen@gmail.com)
 * Repository: https://github.com/sowrensen/laravel-uikit
 */

$dark: #222;
$light: #F7F7F7;
$sidebar-border-dark: #4E4E4E;
$sidebar-border-light: #E5E5E5;
