/**
 * Laravel-UIKit
 *
 * Author: Sowren Sen (sowrensen@gmail.com)
 * Repository: https://github.com/sowrensen/laravel-uikit
 */

/* Success Background */
.uk-background-success {
  background-color: $background-success-background;
}

/* Warning Background */
.uk-background-warning {
  background-color: $background-warning-background;
}

/* Danger Background */
.uk-background-danger {
  background-color: $background-danger-background;
}
