/**
 * Laravel-UIKit
 *
 * Author: Sowren Sen (sowrensen@gmail.com)
 * Repository: https://github.com/sowrensen/laravel-uikit
 */

/*
 * Success
 */
.uk-button-success {
    background-color: $button-success-background;
    color: $button-success-color;
    border: 1px solid transparent;
}

/* Hover + Focus */
.uk-button-success:hover,
.uk-button-success:focus {
    background-color: $button-success-hover-background;
    color: $button-success-hover-color;
}

/* OnClick + Active */
.uk-button-success:active,
.uk-button-success.uk-active {
    background-color: $button-success-active-background;
    color: $button-success-active-color;
}

/*
 * Warning
 */
.uk-button-warning {
    background-color: $button-warning-background;
    color: $button-warning-color;
    border: 1px solid transparent;
}

/* Hover + Focus */
.uk-button-warning:hover,
.uk-button-warning:focus {
    background-color: $button-warning-hover-background;
    color: $button-warning-hover-color;
}

/* OnClick + Active */
.uk-button-warning:active,
.uk-button-warning.uk-active {
    background-color: $button-warning-active-background;
    color: $button-warning-active-color;
}

/*
 * Disabled
 * The same for all style modifiers
 */
.uk-button-success:disabled,
.uk-button-warning:disabled {
    background-color: $button-disabled-background;
    color: $button-disabled-color;
    border-color: #e5e5e5;
}
