/**
 * Laravel-UIKit
 *
 * Author: Sowren Sen (sowrensen@gmail.com)
 * Repository: https://github.com/sowrensen/laravel-uikit
 */

.navbar-logo {
  max-width: 34px;
  max-height: 34px;
}

.user-menu-avatar {
  max-width: 70px;
  max-height: 70px;
}
