/**
 * Laravel-UIKit
 *
 * Author: Sowren Sen (sowrensen@gmail.com)
 * Repository: https://github.com/sowrensen/laravel-uikit
 */

.simplebar-scrollbar::before {
  background-color: $scrollbar-color;
}

.uk-sidebar {
  width: 210px;
  padding: 20px;
  position: fixed;
  top: 80px;
  bottom: 0;
  z-index: 9999;
}

.uk-sidebar.uk-sidebar-dark {
  background-color: $dark;
  border-top: 1px solid $sidebar-border-dark;
}

.uk-sidebar.uk-sidebar-light {
  background-color: $light;
  border-right: 1px solid $sidebar-border-light;
}
